<?xml version="1.0" encoding="UTF-8"?>
<!-- Object detection launch file -->

<launch>
    <node name="webcam_publisher" pkg="object_detection" type="webcam_publisher.py" />
    <!-- Prompting the webcam interface -->
    <node name="real_time_detection" pkg="object_detection" type="real_time_detection.py" output="screen"/>
    <!-- Only pass through the center coordinate -->
    <!-- <node name="center_coordinate_detection" pkg="object_detection" type="center_coordinate_feedback.py" output="screen"/> -->
</launch>
